[submodule "laser_filters"]
	path = laser_filters
	url = https://github.com/ros-perception/laser_filters.git
[submodule "turtlebot3_perception"]
	path = turtlebot3_perception
	url = https://github.com/SESASR-Course/turtlebot3_perception.git
[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/SESASR-Course/turtlebot3_simulations.git
