<?xml version="1.0" ?>
<model>
    <name>Apriltag36_11_00010</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <sdf version="1.9">model_gz.sdf</sdf>
    <author>
        <name>Kenji Koide, Rick Armstrong</name>
        <email>koide@dei.unipd.it, waitingfortheelectrician@gmail.com</email>
    </author>
    <description>AprilTag tag36_11_00010 model, after koide3/gazebo_apriltag (model.sdf,
    Gazebo Classic) and rickarmstrong/gazebo_apriltag (model_gz.sdf, Ignition/gz).</description>
</model>
